@font-face {
    font-family: 'hans_kendrick';
    src: url('hanskendrick-regular-webfont.woff2') format('woff2'),
         url('hanskendrick-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$color-background: #e2e7ec;

body {
    font-family: hans_kendrick, Arial, Helvetica, sans-serif;
    background-color: $color-background;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
}

p {
    color: #818181;
}

img:not(.ava) {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 90px;
}

.item1 {
    grid-column: 1/3;
    position: relative;
    color: white;
}

.item1:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #00000000, #000000 );
}

.item1__content {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 45px;
    margin-bottom: 40px;
}

.item{
    background-color: white;
}

.item__title {
    font-size: 22px;
    margin: 20px 0 75px;
}

.item1__title {
    font-size: 30px;
}

.date {
    font-size: 13px;
}

.inner-grid {
    height: 100%;
}

.item {
    position: relative;
}

.inner-item__content {
    margin: 0 20px;
}

.ava {
    position: absolute;
    bottom: 25px;
    
}

.item4 p {
    visibility: hidden;
}